
body{
    font-family: 'Lato', sans-serif;
}


h1 h2 h3{
font-family: 'Montserrat', sans-serif;
}

.bg-azul {
background-color:#a5a9b0;
}
.pt-4{
    background-color:#a5a9b0;
}
#navbarNav{
    float: left !important;
}
a{
    font-family: 'Lato', sans-serif;;
}
.logo{
    /* display: block;
    margin: 10px auto;
    text-align: center; */
    /* margin-left: auto;
  margin-right: auto; */
  display: block;
margin-left:  50px;
margin-right: 50px;
    
}
#textologo{
    text-align: center;
}



