body
    background-color #f5f6fa
    font-size 14px
    font-family: 'Roboto', sans-serif;

//esto resetea padding y margin que los navegadores ponen por defecto
h2,h3,h4,h5,ul,body,html 
    padding 0px
    margin 0px


.mtop16
    margin-top 16px

.wrapper 
    min-height 100vh //para que el contenedor abarque como minimo el 100% de la altura del monitor
    overflow hiddden //para que como vaamos a tener flotando las 2 columnas, siga siendo una caja rigida
    .col1 
        float left 
        position relative 
        z-index 999  //permite posicion en el eje z el contenedor
        width 17%
    .col2
        float left 
        width 83%


.sidebar 
    background-color #ffffff
    min-height 100vh
    .section-top 
        background-color #2caaff
        box-shadow 0 0.5rem 1rem rgba(0,0,0, 0.15)
    .logo
        display block
        margin 0px auto;
        //padding-top 24px
        //width 60%
    .user 
        color #fff !important 
        padding 16px
        a
            color #ffffff
            font-size 1.2em
    .main
        display block
        margin-top 8px   
        ul 
            li 
                margin-bottom 4px
                a 
                    color #8998ac
                    display block
                    font-size 1.1em
                    padding 12px 12px
                    i 
                        margin-right 10px
                    &:hover
                        background-color #2caaff //fondo
                        box-shadow 0 0.5rem 1rem rgba(0,0,0, 0.15)
                        color #fff !important //el gris no se veia, lo cambio por blanco si se selecciona en hover
                        text-decoration none //saco el subrayado horrible
    
    
.navbar
    background-color #2caaff
    a
        color #fff !important

.page 
    padding-top 16px
    padding-bottom 16px
    .breadcrumb
        background-color #fff  
        box-shadow 0 0.5rem 1rem rgba(0,0,0, 0.10) !important
        .breadcrumb-item
        a 
            &:hover
                text-decoration none


    .panel 
        background-color #fff 
        border-radius 6px
        border-bottom 2px solid #2caaff
        width 100%
        .header
            border-bottom 1px solid #e8e8e8
            h2.title
                display inline-block
                color #19213d
                font-size 1.1em
                padding 12px 16px
        
        .inside
            padding 16px
            .nav 
            //lista de categorias 
                .nav-link 
                    border 1px solid #2caaff 
                    margin-right 8px 

//botones de editar eliminar usuario
.opts 
    a  
        display inline-block
        padding 8px 12px
        border-radius 4px
        border 1px solid #dedede